<nav class="bg-green-700 p-2">
    <a href="/">
        <span class="text-6xl" role="img" aria-label="Home" title="Home">🏠</span>
    </a> | 
    <a href="/about">
        <span class="text-6xl" role="img" aria-label="About" title="About">😀</span>
    </a> | 
    <a href="{% url 'posts:list' %}">
        <span class="text-6xl" role="img" aria-label="Posts" title="Posts">📰</span>
    </a> | 
    {% if user.is_authenticated %}
        <a href="{% url 'posts:new-post' %}">
            <span class="text-6xl" role="img" aria-label="New Post" title="New Post">🆕</span>
        </a> | 
        <form class="logout" action="{% url 'users:logout' %}" method="post">
            {% csrf_token %} 
            <button class="logout-button" aria-label="User Logout" title="User Logout">👋</button>
        </form>
    {% else %}
        <a href="{% url 'users:register' %}">
            <span class="text-6xl" role="img" aria-label="User Registration" title="User Registration">🚀</span>
        </a> | 
        <a href="{% url 'users:login' %}">
            <span class="text-6xl" role="img" aria-label="User Login" title="User Login">🔏</span>
        </a>
    {% endif %}
</nav>